@tailwind base;
@tailwind components;
@tailwind utilities;

main > section {
  padding: 2rem;
}

.hero-arrow-down {
  animation: arrDownMotion 1.5s infinite;
}

@keyframes arrDownMotion {
  0% {
    transform: translateY(-100px) rotate(90deg);
  }

  20% {
    transform: translateY(0px) rotate(90deg);
  }

  70% {
    transform: translateY(0px) rotate(90deg);
  }

  100% {
    transform: translateY(100px) rotate(90deg);
  }
}

.services-lines {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  height: 1px;
}
.description-line {
  content: "";
  background-color: black;
  border: none;
  height: 1px;
  width: 10%;
  position: absolute;
}

.teststubwiuf {
  color: #f3eeee66;
}

.service-div {
  transform-style: preserve-3d;
  will-change: transform;
  position: relative;
  height: 100%;
}

.service-divs-container {
  perspective: 100vw;
}
