@tailwind base;
@tailwind components;
@tailwind utilities;

main > section {
  padding: 2rem;
}

@media (max-width: 900px) {
  main > section {
    padding: 1rem;
  }
}

.section-heading {
  font-size: 3.75rem;
}

@media (max-width: 950px) {
  .section-heading {
    font-size: 2.25rem;
  }
}
@media (max-width: 400px) {
  .section-heading {
    font-size: 2.2rem;
  }
}

.hero-arrow-down {
  animation: arrDownMotion 1.5s infinite;
}

@keyframes arrDownMotion {
  0% {
    transform: translateY(-100px) rotate(90deg);
  }

  20% {
    transform: translateY(0px) rotate(90deg);
  }

  70% {
    transform: translateY(0px) rotate(90deg);
  }

  100% {
    transform: translateY(100px) rotate(90deg);
  }
}

.services-lines {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  height: 1px;
}
.description-line {
  content: "";
  background-color: black;
  border: none;
  height: 1px;
  width: 10%;
  position: absolute;
}

.teststubwiuf {
  color: #ffffff99;
}

.service-div {
  transform-style: preserve-3d;
  will-change: transform;
  position: relative;
  height: 100%;
}

.service-divs-container {
  perspective: 100vw;
}

.news_image_cont {
  transition: 0.4s ease-in-out;
}

.news_image_parent:hover .news_image_cont {
  transform: scale(1.3) rotate(10deg);
}

.subscribe-input:focus + div {
  width: 100%;
}

.slider-arr.active {
  animation: btnScale 0.3s ease-in-out;
}

@keyframes btnScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.black_bubble {
  transition: 0.3s ease-in-out;
  transform: scale(0);
}

.footer_link:hover .black_bubble {
  transform: scale(1);
}

.black_line {
  transition: 0.3s ease-in-out;
  transform: scaleX(0);
}

.footer_link:hover .black_line {
  transform: scaleX(1);
}

.marque{
  white-space: nowrap;
}

/* .custom-cursor{
  mix-blend-mode: difference;
} */
