@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Moderat-Condensed";
  src: url("../public/Moderat-Condensed-Bold.ttf") format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Moderat-Condensed";
  src: url("../public/Moderat-Condensed-Light.ttf") format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Moderat-Condensed";
  src: url("../public/Moderat-Condensed-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "Moderat-Condensed";
  src: url("../public/Moderat-Condensed-Regular.ttf") format("truetype");
  font-weight: 400;
}

body {
  cursor: none;
  font-family: "Moderat-Condensed";
  position: relative;
}

body.active {
  position: relative;
}

main > section {
  padding: 2rem;
}

@media (max-width: 900px) {
  main > section {
    padding: 1rem;
  }
}

.section-heading {
  font-size: 3.75rem;
  font-weight: 500;
}

@media (max-width: 950px) {
  .section-heading {
    font-size: 2.25rem;
  }
  .hero-heading {
    font-size: 2.7rem;
  }
}
@media (max-width: 400px) {
  .section-heading {
    font-size: 2.2rem;
  }
  .hero-heading {
    font-size: 2.2rem;
  }
}

.hero-arrow-down {
  animation: arrDownMotion 1.5s infinite;
}

/* animation for hover on get in touch button */
.arrow-right,
.get-in-touch_phrase {
  transition: 0.4s;
}

.get-in-touch:hover .get-in-touch_phrase {
  transform: translateX(-50%);
  left: 50%;
}
.get-in-touch:hover .arrow-right {
  transform: translateX(150%);
}

@media (max-width: 950px) {
  .get-in-touch:hover .get-in-touch_phrase {
    transform: translateX(0%);
    left: 0%;
  }
  .get-in-touch:hover .arrow-right {
    transform: translateX(0%);
  }
}

@keyframes arrDownMotion {
  0% {
    transform: translateY(-100px) rotate(90deg);
  }

  20% {
    transform: translateY(0px) rotate(90deg);
  }

  70% {
    transform: translateY(0px) rotate(90deg);
  }

  100% {
    transform: translateY(100px) rotate(90deg);
  }
}

.services-lines {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  height: 1px;
}
.description-line {
  content: "";
  background-color: black;
  border: none;
  height: 1px;
  width: 10%;
  position: absolute;
}

.teststubwiuf {
  color: #ffffff99;
}

.service-div {
  transform-style: preserve-3d;
  will-change: transform;
  position: relative;
  height: 100%;
}

.service-divs-container {
  perspective: 100vw;
}

/* Styling for hovering on the pictures in the news section */
.news_image_cont {
  transition: 0.4s ease-in-out;
}

.news_image_parent:hover .news_image_cont {
  transform: scale(1.3) rotate(10deg);
}

/* Styling for hovering on the pictures in portfolio section */
.folio-pic-cont2 {
  transition: 0.4s ease-in-out;
}

.folio-pic-cont:hover .folio-pic-cont2 {
  transform: scale(1.2);
}

.subscribe-input:focus + div {
  width: 100%;
}

.slider-arr.active {
  animation: btnScale 0.3s ease-in-out;
}

@keyframes btnScale {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

.black_bubble {
  transition: 0.3s ease-in-out;
  transform: scale(0);
}

.footer_link:hover .black_bubble {
  transform: scale(1);
}

.black_line {
  transition: 0.3s ease-in-out;
  transform: scaleX(0);
}

.footer_link:hover .black_line {
  transform: scaleX(1);
}

.marque {
  white-space: nowrap;
}

.custom-cursor {
  mix-blend-mode: difference;
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 30%,
    100% 70%,
    70% 100%,
    30% 100%,
    0% 70%,
    0% 30%
  );
}

.cursor-dot {
  mix-blend-mode: difference;
}

@media screen and (max-width: 1024px) {
  body {
    cursor: auto;
  }

  .custom-cursor,
  .cursor-dot {
    display: none;
  }
}

/* Animation for navigation */
.nav_link-1,
.nav_link-2 {
  transition: 0.8s cubic-bezier(0.38, 0.77, 0, 1.01);
}

.nav_link-cont:hover .nav_link-1 {
  transform: translateY(-100%);
}
.nav_link-cont:hover .nav_link-2 {
  transform: translateY(0%);
}

.nav-main.active {
  pointer-events: all;
}

/* Styling which includes the animation for the burger */
.burger.active .line-1 {
  animation: line-1_forward 1s forwards;

  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}
.burger.active .line-2 {
  animation: line-2_forward 1s forwards;

  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
}

.burger.inactive .line-1 {
  animation: line-1_backward 1s forwards;
}

.burger.inactive .line-2 {
  animation: line-2_backward 1s forwards;
}

@keyframes line-1_forward {
  0% {
    transform: translateY(-4px) translateX(0px);
  }

  40% {
    transform: translateY(-4px) translateX(-50px);
  }

  50% {
    transform: translateY(-25px) translateX(-25px) rotate(45deg);
  }

  100% {
    transform: translateY(0px) translateX(0px) rotate(45deg);
  }
}
@keyframes line-2_forward {
  0% {
    transform: translateY(4px) translateX(0px);
  }

  40% {
    transform: translateY(4px) translateX(50px);
  }

  70% {
    transform: translateY(-25px) translateX(25px) rotate(135deg);
  }

  100% {
    transform: translateY(0px) translateX(0px) rotate(135deg);
  }
}

@keyframes line-1_backward {
  0% {
    transform: translateY(0px) translateX(0px) rotate(45deg);
  }

  50% {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }

  100% {
    transform: translateY(-4px) translateX(0px) rotate(0deg);
  }
}
@keyframes line-2_backward {
  0% {
    transform: translateY(0px) translateX(0px) rotate(135deg);
  }

  50% {
    transform: translateY(0px) translateX(0px) rotate(0deg);
  }

  100% {
    transform: translateY(4px) translateX(0px) rotate(0deg);
  }
}

/* Animation for marque container */
.marque {
  opacity: 0.5;
  transition: 0.5s;
  transition-property: opacity;
}

.marque-container:hover .marque {
  opacity: 1;
}
